# database settings
database:
  driver: your-driver
  host: your-host
  port: your-port
  username: your-username
  password: your-password
  dbname: your-dbname

# server setting
server:
  network: your-network
  address: your-address

# secret key settings
jwt:
  secret-key: your-secret-key